/* stylelint-disable */

::selection {
  background: black;
  color: white;
}

/* Screen Readers */
.srd,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
