.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.myswiper2 {
  .swiper-slide:hover {
    .swiper-slide-cover {
      background: white;
      opacity: 50%;
    }
  }

  .swiper-slide-thumb-active:hover {
    .swiper-slide-cover {
      background: white;
      opacity: 75%;
    }
  }
}

.swiper-slide-thumb-active {
  .swiper-slide-cover {
    background: white;
    opacity: 75%;
  }
}

.swiper-slide-thumb-active div {
  @apply border-orange-0;
}
